<!doctype html>
<html>
  <head>
    <title>HOLIDAEZZ YO!</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </head>
  <body class=".container">
  	<form>
  		<select name="country" class="form-control">
  			<% ["us", "gb", "be", "br"].each do |country| %>
  				<option <% if params['country'] == country %> <%= selected="selected" %> <% end %> value="<%= country %>">
  					<%= country %>
  				</option>
  			<% end %>
		</select>
  		<input name="month" type="month" value="<%= params['month'] %>">
	  <button type="submit">Click for holidays!</button>
	</form>
	<% if @holidays.any? %>
		<h2>Holidaze</h2>
	  	<ol>
	  		<% @holidays.each do |holiday| %>
	  			<% holiday.each do |h| %>
	  				<li>
	  					<%= h["name"] %>
	  				</li>
	  			<% end %>
	  		<% end %>
	  	</ol>
	  </div>

	<% else %>
		<p>LEARN HOW TO SEARCH FOR THINGS!</p>
	<% end %>
  </body>
</html>